/* Manifest ------------ */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Variables ------------- */
/* Mixins -------------- */
/* Typography ------------------- */
@font-face {
  font-family: DinBlack;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Black.woff") format("woff"), url("../fonts/DINNextLTPro-Black.woff2") format("woff2"); }

@font-face {
  font-family: DinBold;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Bold.woff") format("woff"), url("../fonts/DINNextLTPro-Bold.woff2") format("woff2"); }

@font-face {
  font-family: DinBoldCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-BoldCondensed.woff") format("woff"), url("../fonts/DINNextLTPro-BoldCondensed.woff2") format("woff2"); }

@font-face {
  font-family: DinBoldItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-BoldItalic.woff") format("woff"), url("../fonts/DINNextLTPro-BoldItalic.woff2") format("woff2"); }

@font-face {
  font-family: DinCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Condensed.woff") format("woff"), url("../fonts/DINNextLTPro-Condensed.woff2") format("woff2"); }

@font-face {
  font-family: DinHeavyItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-HeavyItalic.woff") format("woff"), url("../fonts/DINNextLTPro-HeavyItalic.woff2") format("woff2"); }

@font-face {
  font-family: DinHeavy;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Heavy.woff") format("woff"), url("../fonts/DINNextLTPro-Heavy.woff2") format("woff2"); }

@font-face {
  font-family: DinItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Italic.woff") format("woff"), url("../fonts/DINNextLTPro-Italic.woff2") format("woff2"); }

@font-face {
  font-family: DinLightCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-LightCondensed.woff") format("woff"), url("../fonts/DINNextLTPro-LightCondensed.woff2") format("woff2"); }

@font-face {
  font-family: DinLight;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Light.woff") format("woff"), url("../fonts/DINNextLTPro-Light.woff2") format("woff2"); }

@font-face {
  font-family: DinLightItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-LightItalic.woff") format("woff"), url("../fonts/DINNextLTPro-LightItalic.woff2") format("woff2"); }

@font-face {
  font-family: DinMedium;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Medium.otf") format("opentype"), url("../fonts/DINNextLTPro-Medium.woff") format("woff"), url("../fonts/DINNextLTPro-Medium.woff2") format("woff2"); }

@font-face {
  font-family: DinMediumCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-MediumCond.woff") format("woff"), url("../fonts/DINNextLTPro-MediumCond.woff2") format("woff2"); }

@font-face {
  font-family: DinMediumItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-MediumItalic.woff") format("woff"), url("../fonts/DINNextLTPro-MediumItalic.woff2") format("woff2"); }

@font-face {
  font-family: DinRegular;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Regular.woff") format("woff"), url("../fonts/DINNextLTPro-Regular.woff2") format("woff2"); }

@font-face {
  font-family: DinUltraLight;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-UltraLight.woff") format("woff"), url("../fonts/DINNextLTPro-UltraLight.woff2") format("woff2"); }

@font-face {
  font-family: DinUltraLightCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-UltraLightCondensed.woff") format("woff"), url("../fonts/DINNextLTPro-UltraLightCondensed.woff2") format("woff2"); }

@font-face {
  font-family: DinUltraLightIt;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-UltraLightIt.woff") format("woff"), url("../fonts/DINNextLTPro-UltraLightIt.woff2") format("woff2"); }

@font-face {
  font-family: DinRoundedBold;
  font-style: normal;
  src: url("../fonts/DINNextRoundedLTPro-Bold.woff") format("woff"), url("../fonts/DINNextRoundedLTPro-Bold.woff2") format("woff2"); }

@font-face {
  font-family: DinRoundedLight;
  font-style: normal;
  src: url("../fonts/DINNextRoundedLTPro-Light.woff") format("woff"), url("../fonts/DINNextRoundedLTPro-Light.woff2") format("woff2"); }

@font-face {
  font-family: DinRoundedMedium;
  font-style: normal;
  src: url("../fonts/DINNextRoundedLTPro-Medium.woff") format("woff"), url("../fonts/DINNextRoundedLTPro-Medium.woff2") format("woff2"); }

@font-face {
  font-family: DinRoundedRegular;
  font-style: normal;
  src: url("../fonts/DINNextRoundedLTPro-Regular.woff") format("woff"), url("../fonts/DINNextRoundedLTPro-Regular.woff2") format("woff2"); }

@font-face {
  font-family: GeoLight;
  font-style: normal;
  src: url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.woff2") format("woff2"); }

body {
  font-family: 'Oswald', 'Arsenal';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4 {
  font-family: oswald;
  margin-top: 0px; }

p, a {
  font-family: arsenal; }

ul {
  list-style-type: none; }

.blog-pg-title-content ul {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-left: 5px; }

@media (max-width: 1024px) {
  .bkgd-img {
    min-height: 500.08px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

.container {
  width: 100%; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }

.col-sm-12 {
  padding-right: 0px;
  padding-left: 0px; }

.border-bottom {
  padding: 0px; }

.blog-navigation ul {
  display: -webkit-inline-box;
  padding: 0px; }

.blog-navigation li a {
  letter-spacing: 10px; }

.blog-navigation span {
  padding-right: 5px; }

.slidebottomleft:after {
  -webkit-transform: translate3D(-100%, 100%, 0);
     -moz-transform: translate3D(-100%, 100%, 0);
      -ms-transform: translate3D(-100%, 100%, 0);
       -o-transform: translate3D(-100%, 100%, 0);
          transform: translate3D(-100%, 100%, 0); }

.buttonfx {
  color: #fff;
  /* button text color */
  outline: none;
  background: transparent;
  border: none;
  letter-spacing: 0.0625em;
  border: 1px solid #fff;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  padding: 8px 10px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  /* remove underline if using A instead of BUTTON tag */
  overflow: hidden;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }

/* //// Default effect: Slide from Top  //// */
.buttonfx:before,
.buttonfx:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: rgba(153, 153, 153, 0.35);
  /* onhover background color */
  z-index: -1;
  -webkit-transform: translate3D(0, -100%, 0);
     -moz-transform: translate3D(0, -100%, 0);
      -ms-transform: translate3D(0, -100%, 0);
       -o-transform: translate3D(0, -100%, 0);
          transform: translate3D(0, -100%, 0);
  /* move elements above button so they don't appear initially */
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }

.buttonfx:before {
  background: transparent;
  /* button default background color */
  z-index: -2;
  -webkit-transform: translate3D(0, 0, 0);
     -moz-transform: translate3D(0, 0, 0);
      -ms-transform: translate3D(0, 0, 0);
       -o-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0); }

.buttonfx:hover {
  color: white;
  text-decoration: none; }

/* //// Slide Corner  //// */
.slidebottomleft:after {
  -webkit-transform: translate3D(-100%, 100%, 0);
     -moz-transform: translate3D(-100%, 100%, 0);
      -ms-transform: translate3D(-100%, 100%, 0);
       -o-transform: translate3D(-100%, 100%, 0);
          transform: translate3D(-100%, 100%, 0); }

.slidebottomleft:hover:after {
  -webkit-transform: translate3D(0, 0, 0);
     -moz-transform: translate3D(0, 0, 0);
      -ms-transform: translate3D(0, 0, 0);
       -o-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }

.contact-form {
  margin-top: 0em !important;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0 auto;
  position: relative; }
  .contact-form .error {
    color: red; }
  .contact-form h2 {
    text-align: left;
    color: #fff;
    padding-top: 20px;
    padding-left: 98px;
    font-weight: bold;
    letter-spacing: 3px; }
    @media (max-width: 414px) {
      .contact-form h2 {
        text-align: center;
        padding-left: 0px; } }
  .contact-form p:last-child {
    margin: 0px !important; }

.wpcf7-form-control-wrap textarea, .wpcf7-form-control-wrap input {
  background-color: rgba(0, 0, 0, 0.57);
  width: 24em; }
  @media (max-width: 768px) {
    .wpcf7-form-control-wrap textarea, .wpcf7-form-control-wrap input {
      width: 19em; } }

.wpcf7-form label {
  text-align: left;
  color: #fff; }

.wpcf7-form-control {
  margin-bottom: 1em; }

.wpcf7-form p {
  margin-bottom: 0px; }

@media (max-width: 1024px) {
  .navbar-lg {
    display: none; } }

@media (min-width: 1025px) {
  #navbar-sm {
    display: none; } }

/* Wrappers -------------------------------------*/
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 220px; }

#sidebar-wrapper {
  z-index: 1000;
  left: 220px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#sidebar-wrapper::-webkit-scrollbar {
  display: none; }

#wrapper.toggled #sidebar-wrapper {
  width: 220px; }

#page-content-wrapper {
  width: 100%; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px; }

/* Sidebar nav styles -------------------------------------*/
@media (max-width: 768px) {
  .navbar-sm-soc-icons {
    padding-top: 24em;
    padding-left: 16%; } }

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%; }
  @media (max-width: 1024px) {
    .sidebar-nav li {
      padding-bottom: 30px;
      padding-top: 10px; } }

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -o-transition: width .2s ease-in;
  transition: width .2s ease-in; }

.sidebar-nav li:first-child a {
  color: #fff;
  background-color: #1a1a1a; }

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -o-transition: width .2s ease-in;
  transition: width .2s ease-in; }

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px; }

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px; }

.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  border: none;
  background-color: #222;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; }

/* Hamburger-Cross -------------------------------------*/
.hamburger {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none; }

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none; }

.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%; }

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a; }

.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px; }

.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a; }

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px; }

.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08); }

.hamburger.is-open .hamb-middle {
  display: none; }

.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08); }

.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

/* Overlay -------------------------------------*/
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 250, 250, 0.8);
  z-index: 1; }

.sub-menu a {
  color: #999;
  text-decoration: none; }

.navbar-inverse
.navbar-nav > li > a {
  color: #424C50;
  font-size: 30px;
  position: relative;
  color: #fff;
  display: inline-block;
  line-height: 1;
  border-bottom: 1px solid transparent;
  font-weight: bold; }

.nav li a {
  font-size: 17px;
  letter-spacing: 3px; }

.navbar-default {
  background-color: transparent;
  border-color: transparent; }

.navbar-default
.navbar-nav > li > a {
  color: #000; }

.sub-menu li {
  margin-bottom: 10px;
  list-style: none; }

.sub-menu li:last-child {
  margin-bottom: 0; }

.sub-menu a {
  color: #999;
  text-decoration: none; }

.sub-menu a:hover {
  color: black; }

.sub-menu li, .sub-menu a {
  font-size: 25px;
  font-weight: bold; }

#menu-menu-1 a:hover {
  color: #339eff;
  text-transform: uppercase;
  font-weight: bold; }

.navbar-inverse
.navbar-nav > li > a {
  color: #f5f5f5;
  font-size: 30px;
  position: relative;
  color: #fff;
  display: inline-block;
  line-height: 1;
  border-bottom: 1px solid transparent;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px; }
  @media (max-width: 1024px) {
    .navbar-inverse
.navbar-nav > li > a {
      font-size: 20px; } }

.current-menu-parent li a {
  background: inherit; }

.current-menu-parent
.current-menu-item a {
  color: #fff;
  font-weight: bold; }

@media (min-width: 768px) {
  .navbar-nav {
    margin: 7.5px 20px; }
  li:hover .sub-menu {
    display: block; }
  .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px; } }

@media (min-width: 1025px) {
  .header-parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover; } }

.site-name {
  text-align: center;
  color: #000; }
  .site-name img {
    padding-top: 11em;
    width: 15%; }
    @media (max-width: 768px) {
      .site-name img {
        padding-top: 27em; } }
    @media (max-width: 414px) {
      .site-name img {
        padding-top: 20em; } }
  .site-name h1 {
    margin-top: 0px;
    font-size: 4em; }
  .site-name p {
    font-size: 20px;
    letter-spacing: 2px; }

@media (min-width: 375px) {
  .header-parallax {
    min-height: 812px; }
  .site-name h1 {
    font-size: 3.5em; } }

@media (min-width: 768px) {
  .header-parallax {
    min-height: 77em; }
  .site-name h1 {
    font-size: 3.5em; } }

@media (min-width: 1025px) {
  .header-parallax {
    min-height: 700px; }
  .site-name h1 {
    font-size: 4em;
    letter-spacing: 7px;
    word-spacing: 15px; } }

.footer {
  background-color: #4E5456; }

.social-icons {
  padding-top: 30px; }
  @media (max-width: 768px) {
    .social-icons {
      padding-top: 0px; } }
  @media (max-width: 414px) {
    .social-icons {
      padding-top: 30px; }
      .social-icons .sfsi_widget {
        padding-left: 31%; } }

.logo {
  padding-top: 1em; }
  .logo img {
    width: 15%;
    display: block;
    margin: auto; }

.copyright p {
  padding-top: 3em;
  padding-bottom: 3em;
  color: #000;
  text-align: center;
  font-size: 10px;
  margin: 0px;
  font-weight: bold; }

.bottomMenu {
  display: block;
  width: 100%; }
  @media (min-width: 1279px) {
    .bottomMenu {
      padding-top: 45px; } }
  @media (max-width: 414px) {
    .bottomMenu {
      text-align: center; } }
  .bottomMenu ul {
    display: inline;
    padding-left: 0px; }
    .bottomMenu ul li {
      list-style-type: none;
      display: inline; }
      .bottomMenu ul li:last-child > a {
        border-right: none; }
      .bottomMenu ul li a {
        color: #eeeeee;
        font-size: 13px; }
        @media (min-width: 768px) {
          .bottomMenu ul li a {
            padding: 0px; } }
        @media (min-width: 1024px) {
          .bottomMenu ul li a {
            font-size: 15px;
            letter-spacing: 2px;
            line-height: 15px;
            text-decoration: none;
            font-weight: bold;
            padding: 0 7px 0 0px; } }
        .bottomMenu ul li a:hover {
          color: #fff;
          text-decoration: underline; }

.sidebar {
  margin-top: 93px; }

.front-page-column-one {
  padding-top: 5em; }
  @media (max-width: 414px) {
    .front-page-column-one {
      padding-top: 0px; } }

@media (max-width: 414px) {
  .front-page-column-one,
  .front-page-column-two,
  .front-page-column-three {
    margin-top: -1em;
    margin-bottom: -1em; } }

.front-page-column-one img,
.front-page-column-two img,
.front-page-column-three img {
  padding-top: 5em;
  display: block;
  margin: 0 auto;
  max-width: 20%; }

.front-page-column-one h2,
.front-page-column-two h2,
.front-page-column-three h2 {
  padding-top: 20px;
  font-size: 65px;
  letter-spacing: 4px; }
  @media (max-width: 414px) {
    .front-page-column-one h2,
    .front-page-column-two h2,
    .front-page-column-three h2 {
      font-size: 45px; } }

.front-page-column-one h2, .front-page-column-one p,
.front-page-column-two h2,
.front-page-column-two p,
.front-page-column-three h2,
.front-page-column-three p {
  text-align: center;
  color: #fff; }

.front-page-column-one p,
.front-page-column-two p,
.front-page-column-three p {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  font-weight: bold; }
  @media (min-width: 800px) {
    .front-page-column-one p,
    .front-page-column-two p,
    .front-page-column-three p {
      padding-top: .5em;
      padding-left: 7em;
      padding-right: 7em;
      font-size: 40px; } }

@media (min-width: 1025px) {
  .middle-bkgd-img {
    margin-top: -10px;
    height: 165em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover; } }

@media (max-width: 768px) {
  .middle-bkgd-img {
    background-position: center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    margin-top: -4em;
    height: 115em; } }

@media (min-width: 1280px) {
  .middle-bkgd-img {
    margin-top: -10px;
    height: 187em; } }

.portfolio-title {
  padding-top: 4em; }
  .portfolio-title h1 {
    text-align: center;
    letter-spacing: 12px;
    font-size: 86px;
    color: rgba(212, 212, 212, 0.388235); }
    @media (max-width: 414px) {
      .portfolio-title h1 {
        font-size: 50px; } }

.img-port img {
  width: 100%; }

.port-1 {
  margin-left: 9em;
  margin-bottom: 2em; }

.port-2 {
  float: right;
  margin-right: 3em; }

.port-3 {
  margin-left: 4em; }

.port-4 {
  float: right;
  margin-right: 10em; }

.port-5 {
  margin-left: 4em; }

.port-6 {
  float: right;
  margin-right: 12em;
  margin-bottom: 4em; }

@media (max-width: 414px) {
  .port-1,
  .port-2,
  .port-3,
  .port-4,
  .port-5,
  .port-6 {
    margin-left: 0px;
    margin-right: 0px; } }

.hvrbox * {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto; }

.hvrbox img {
  max-width: 100%; }

.hvrbox .hvrbox-layer_bottom {
  display: block; }

.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s; }

.buttonfx p {
  margin: 0px; }
  .buttonfx p a {
    color: #fff;
    text-decoration: none; }

.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1; }

.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%); }

.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid #b3b3b3;
  /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none; }

.hvrbox.active .hvrbox-text_mobile {
  display: block; }

.hvrbox .hvrbox-layer_scale {
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
     transform: scale(0); }

.hvrbox:hover .hvrbox-layer_scale,
.hvrbox.active .hvrbox-layer_scale {
  -webkit-border-radius: 0%;
     -moz-border-radius: 0%;
          border-radius: 0%;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
     transform: scale(1); }

.view-all-port-btn a {
  padding-bottom: 1em;
  display: block;
  margin: auto;
  font-size: 52px;
  color: rgba(212, 212, 212, 0.388235); }
  @media (max-width: 414px) {
    .view-all-port-btn a {
      font-size: 38px; } }

@media (min-width: 1025px) {
  .section-1 {
    padding-bottom: 4em; }
  .parallax {
    min-height: 400px;
    margin-top: -10px; }
  .portfolio-section-header h1 {
    letter-spacing: 10px; }
  .fp-port-img img {
    width: 100%;
    height: 330px;
    padding: 0px; } }

.last-section {
  background-color: #fff; }
  .last-section .col-sm-5 {
    padding: 0px; }

.contact-bkgd-img {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover; }

.last-section .col-sm-7 {
  padding: 0px; }

.lsr-bkgd-img {
  height: 37.8em;
  background-position: center; }

.last-sec-right h1 {
  padding-top: 1em;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 7px;
  text-transform: uppercase; }

.last-sec-right p {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold; }

#blog {
  background-color: #fafafa; }

.blog-page {
  padding: 20px; }

.blog-pg-title {
  margin-top: 5em;
  text-align: center; }

.blog-pg-title-content h2 {
  padding-top: 30px; }

.blog-img img {
  width: 50%;
  height: 50%; }
  @media (max-width: 600px) {
    .blog-img img {
      max-width: 100%;
      max-height: 210px; } }

.post-categories li {
  padding-right: 5px; }

.ig-blog img {
  max-width: 100%; }

.image-section {
  padding-bottom: 20px; }

.image-gallery ul {
  padding: 0px; }

.about-bkgd-img {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover; }

.about-page-header {
  padding-bottom: 9px;
  border-bottom: 1px solid #eeeeee; }
  .about-page-header h1 {
    text-align: center;
    padding-top: 2em;
    margin-top: 0px;
    letter-spacing: 8px; }

.about-content {
  padding-top: 1em; }
  .about-content p {
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px; }

@media (min-width: 320px) {
  .about-page .col-md-6 {
    padding-left: 5px;
    padding-right: 5px; } }

.about-img img {
  padding-top: 25px;
  max-height: 400px;
  width: 100%; }

@media (min-width: 600px) {
  .about-content p {
    padding-left: 0px;
    padding-right: 0px; }
  .about-img img {
    max-height: unset;
    width: 100%;
    padding-bottom: 20px; }
  .about-page .col-md-6 {
    padding-left: 5px;
    padding-right: 20px; } }

.contact-form {
  margin-top: 6em;
  text-align: center; }

.container {
  padding-left: 0px;
  padding-right: 0px; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

.port-bkgd-img {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover; }

.portfolio-page-header h1 {
  text-align: center;
  padding-top: 2em;
  margin-bottom: 1em;
  letter-spacing: 8px; }

.portfolio-title h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 4px; }

.web-content {
  padding-bottom: 1em; }

.portfolio-img img {
  width: 100%; }

.single-pg {
  margin-top: 3em; }

.page-header h1 {
  text-align: center; }

.sgl-pg-content {
  padding: 20px; }
  @media (max-width: 414px) {
    .sgl-pg-content {
      padding: 0px; } }
  .sgl-pg-content p {
    font-size: 20px; }

.sgl-pg-thumbnail img {
  width: 100%;
  height: 100%; }
  @media (max-width: 414px) {
    .sgl-pg-thumbnail img {
      padding-bottom: 10px; } }

/*# sourceMappingURL=app.css.map */
