/* Manifest ------------ */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Variables ------------- */
/* Mixins -------------- */
/* Typography ------------------- */
@font-face {
  font-family: DinBlack;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Black.woff") format("woff"), url("../fonts/DINNextLTPro-Black.woff2") format("woff2"); }

@font-face {
  font-family: DinBold;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Bold.woff") format("woff"), url("../fonts/DINNextLTPro-Bold.woff2") format("woff2"); }

@font-face {
  font-family: DinBoldCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-BoldCondensed.woff") format("woff"), url("../fonts/DINNextLTPro-BoldCondensed.woff2") format("woff2"); }

@font-face {
  font-family: DinBoldItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-BoldItalic.woff") format("woff"), url("../fonts/DINNextLTPro-BoldItalic.woff2") format("woff2"); }

@font-face {
  font-family: DinCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Condensed.woff") format("woff"), url("../fonts/DINNextLTPro-Condensed.woff2") format("woff2"); }

@font-face {
  font-family: DinHeavyItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-HeavyItalic.woff") format("woff"), url("../fonts/DINNextLTPro-HeavyItalic.woff2") format("woff2"); }

@font-face {
  font-family: DinHeavy;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Heavy.woff") format("woff"), url("../fonts/DINNextLTPro-Heavy.woff2") format("woff2"); }

@font-face {
  font-family: DinItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Italic.woff") format("woff"), url("../fonts/DINNextLTPro-Italic.woff2") format("woff2"); }

@font-face {
  font-family: DinLightCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-LightCondensed.woff") format("woff"), url("../fonts/DINNextLTPro-LightCondensed.woff2") format("woff2"); }

@font-face {
  font-family: DinLight;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Light.woff") format("woff"), url("../fonts/DINNextLTPro-Light.woff2") format("woff2"); }

@font-face {
  font-family: DinLightItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-LightItalic.woff") format("woff"), url("../fonts/DINNextLTPro-LightItalic.woff2") format("woff2"); }

@font-face {
  font-family: DinMedium;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Medium.otf") format("opentype"), url("../fonts/DINNextLTPro-Medium.woff") format("woff"), url("../fonts/DINNextLTPro-Medium.woff2") format("woff2"); }

@font-face {
  font-family: DinMediumCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-MediumCond.woff") format("woff"), url("../fonts/DINNextLTPro-MediumCond.woff2") format("woff2"); }

@font-face {
  font-family: DinMediumItalic;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-MediumItalic.woff") format("woff"), url("../fonts/DINNextLTPro-MediumItalic.woff2") format("woff2"); }

@font-face {
  font-family: DinRegular;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-Regular.woff") format("woff"), url("../fonts/DINNextLTPro-Regular.woff2") format("woff2"); }

@font-face {
  font-family: DinUltraLight;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-UltraLight.woff") format("woff"), url("../fonts/DINNextLTPro-UltraLight.woff2") format("woff2"); }

@font-face {
  font-family: DinUltraLightCondensed;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-UltraLightCondensed.woff") format("woff"), url("../fonts/DINNextLTPro-UltraLightCondensed.woff2") format("woff2"); }

@font-face {
  font-family: DinUltraLightIt;
  font-style: normal;
  src: url("../fonts/DINNextLTPro-UltraLightIt.woff") format("woff"), url("../fonts/DINNextLTPro-UltraLightIt.woff2") format("woff2"); }

@font-face {
  font-family: DinRoundedBold;
  font-style: normal;
  src: url("../fonts/DINNextRoundedLTPro-Bold.woff") format("woff"), url("../fonts/DINNextRoundedLTPro-Bold.woff2") format("woff2"); }

@font-face {
  font-family: DinRoundedLight;
  font-style: normal;
  src: url("../fonts/DINNextRoundedLTPro-Light.woff") format("woff"), url("../fonts/DINNextRoundedLTPro-Light.woff2") format("woff2"); }

@font-face {
  font-family: DinRoundedMedium;
  font-style: normal;
  src: url("../fonts/DINNextRoundedLTPro-Medium.woff") format("woff"), url("../fonts/DINNextRoundedLTPro-Medium.woff2") format("woff2"); }

@font-face {
  font-family: DinRoundedRegular;
  font-style: normal;
  src: url("../fonts/DINNextRoundedLTPro-Regular.woff") format("woff"), url("../fonts/DINNextRoundedLTPro-Regular.woff2") format("woff2"); }

@font-face {
  font-family: GeoLight;
  font-style: normal;
  src: url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.woff2") format("woff2"); }

body {
  font-family: 'Oswald', 'Arsenal';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.col-md-12 {
  background-color: #fafafa; }

h1, h2, h3, h4 {
  font-family: oswald;
  margin-top: 0px; }

p, a {
  font-family: arsenal; }

@media (max-width: 1024px) {
  .bkgd-img {
    min-height: 500.08px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

.container {
  width: 100%; }

.container-fluid {
  padding-left: 0px;
  padding-right: 0px; }

.col-sm-12 {
  padding-right: 0px;
  padding-left: 0px; }

a#scroll-to-top {
  background: none; }

.contact-form {
  max-width: 400px;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  position: relative; }
  .contact-form .error {
    color: red; }
  .contact-form .success {
    color: #ff9966;
    text-align: center;
    font-weight: bold;
    font-size: 14px; }

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background: rgba(249, 249, 249, 0.72);
  padding: 25px; }

#contact h3 {
  color: #F96;
  display: block;
  font-size: 30px;
  font-weight: 400; }

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px; }

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%; }

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px; }

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA; }

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none; }

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #0CF;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px; }

#contact button[type="submit"]:hover {
  background: #09C;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }

#contact button[type="submit"]:active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #999; }

::-webkit-input-placeholder {
  color: #888; }

:-moz-placeholder {
  color: #888; }

::-moz-placeholder {
  color: #888; }

:-ms-input-placeholder {
  color: #888; }

@media (max-width: 1024px) {
  .navbar-lg {
    display: none; } }

@media (min-width: 1025px) {
  #navbar-sm {
    display: none; } }

/* Wrappers -------------------------------------*/
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-left: 220px; }

#sidebar-wrapper {
  z-index: 1000;
  left: 220px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #1a1a1a;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#sidebar-wrapper::-webkit-scrollbar {
  display: none; }

#wrapper.toggled #sidebar-wrapper {
  width: 220px; }

#page-content-wrapper {
  width: 100%; }

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px; }

/* Sidebar nav styles -------------------------------------*/
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none; }

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%; }
  @media (max-width: 1024px) {
    .sidebar-nav li {
      padding-bottom: 30px;
      padding-top: 10px; } }

.sidebar-nav li:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  background-color: #1c1c1c;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -o-transition: width .2s ease-in;
  transition: width .2s ease-in; }

.sidebar-nav li:first-child a {
  color: #fff;
  background-color: #1a1a1a; }

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  -webkit-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  -o-transition: width .2s ease-in;
  transition: width .2s ease-in; }

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px; }

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent; }

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px; }

.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
  border: none;
  background-color: #222;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none; }

/* Hamburger-Cross -------------------------------------*/
.hamburger {
  position: fixed;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  border: none; }

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none; }

.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%; }

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a; }

.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px; }

.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a; }

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px; }

.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08); }

.hamburger.is-open .hamb-middle {
  display: none; }

.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08); }

.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out; }

/* Overlay -------------------------------------*/
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250, 250, 250, 0.8);
  z-index: 1; }

.sub-menu a {
  color: #999;
  text-decoration: none; }

.navbar-inverse
.navbar-nav > li > a {
  color: #424C50;
  font-size: 30px;
  position: relative;
  color: #fff;
  display: inline-block;
  line-height: 1;
  border-bottom: 1px solid transparent;
  font-weight: bold; }

.nav li a {
  font-size: 17px;
  letter-spacing: 3px; }

.navbar-default
.navbar-nav > li > a {
  color: #000; }

.sub-menu li {
  margin-bottom: 10px;
  list-style: none; }

.sub-menu li:last-child {
  margin-bottom: 0; }

.sub-menu a {
  color: #999;
  text-decoration: none; }

.sub-menu a:hover {
  color: black; }

.sub-menu li, .sub-menu a {
  font-size: 25px;
  font-weight: bold; }

#menu-menu-1 a:hover {
  color: #339eff;
  text-transform: uppercase;
  font-weight: bold; }

.navbar-inverse
.navbar-nav > li > a {
  color: #f5f5f5;
  font-size: 30px;
  position: relative;
  color: #fff;
  display: inline-block;
  line-height: 1;
  border-bottom: 1px solid transparent;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px; }
  @media (max-width: 1024px) {
    .navbar-inverse
.navbar-nav > li > a {
      font-size: 20px; } }

.current-menu-item > a,
.current-menu-parent > a {
  background: #ccc;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px; }

.current-menu-parent li a {
  background: inherit; }

.current-menu-parent
.current-menu-item a {
  color: #fff;
  font-weight: bold; }

@media (min-width: 768px) {
  .navbar-nav {
    margin: 7.5px 20px; }
  li:hover .sub-menu {
    display: block; }
  .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px; } }

@media (min-width: 1025px) {
  .header-parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover; } }

.site-name {
  text-align: center;
  color: #000; }
  .site-name h1 {
    margin-top: 0px;
    font-size: 4em; }
  .site-name p {
    font-size: 20px;
    letter-spacing: 2px; }

@media (min-width: 375px) {
  .header-parallax {
    min-height: 812px; }
  .site-name h1 {
    padding-top: 5em;
    font-size: 3.5em; } }

@media (min-width: 768px) {
  .header-parallax {
    min-height: 74em; }
  .site-name h1 {
    padding-top: 9em;
    font-size: 3.5em; } }

@media (min-width: 1025px) {
  .header-parallax {
    min-height: 700px; }
  .site-name h1 {
    font-size: 4em;
    padding-top: 5em;
    letter-spacing: 7px;
    word-spacing: 15px; } }

.footer {
  background-color: #4E5456; }
  .footer img {
    padding-top: 1em;
    display: block;
    margin: 0 auto; }

.copyright p {
  background-color: #4E5456;
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  color: #000;
  font-size: 10px;
  margin: 0px;
  font-weight: bold; }

.front-page-column-one,
.front-page-column-two,
.front-page-column-three {
  margin-top: 1.5em;
  margin-bottom: 1.5em; }
  @media (min-width: 450px) {
    .front-page-column-one,
    .front-page-column-two,
    .front-page-column-three {
      margin-top: 3em;
      margin-bottom: 3em; } }
  .front-page-column-one img,
  .front-page-column-two img,
  .front-page-column-three img {
    display: block;
    margin: 0 auto; }
  .front-page-column-one h2,
  .front-page-column-two h2,
  .front-page-column-three h2 {
    letter-spacing: 4px; }
  .front-page-column-one h2, .front-page-column-one p,
  .front-page-column-two h2,
  .front-page-column-two p,
  .front-page-column-three h2,
  .front-page-column-three p {
    text-align: center;
    color: #fff; }

.section-1 {
  background-color: #373D3F; }

@media (min-width: 1025px) {
  .parallax {
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover; } }

#portfolio {
  background-color: #fafafa; }

.port-chev {
  text-align: center;
  padding-top: 1em; }

.portfolio-section-header h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 50px;
  color: #fff; }

#portfolio .col-md-6 {
  padding-left: 0px;
  padding-right: 0px; }

.port-container {
  padding-top: 0px;
  padding-bottom: 0px; }

/* portfolio section flip */
/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000px;
     -moz-perspective: 1000px;
          perspective: 1000px; }

/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
          transform: rotateY(180deg); }

/* flip speed goes here */
.flipper {
  -webkit-transition: .8s;
  -o-transition: .8s;
  -moz-transition: .8s;
  transition: .8s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative; }

/* hide back of pane during swap */
.front, .back {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  -webkit-transform: rotateY(0deg);
     -moz-transform: rotateY(0deg);
          transform: rotateY(0deg); }

/* back, initially hidden pane */
.back {
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
          transform: rotateY(180deg); }

@media (min-width: 320px) {
  .parallax {
    min-height: 300px; }
  .port-chev {
    display: none; }
  .portfolio-section-header h1 {
    padding-top: 2em; } }

@media (max-width: 414px) {
  .fp-port-img img {
    height: 273px; }
  .flip-container,
  .front,
  .back {
    height: 19.4em; } }

@media (min-width: 415px) {
  .fp-port-img img {
    height: 351px; }
  .flip-container,
  .front,
  .back {
    height: 25em; } }

@media (min-width: 1025px) {
  .section-1 {
    padding-top: 4em;
    padding-bottom: 4em; }
  .parallax {
    min-height: 400px; }
  .port-chev {
    display: block; }
  .portfolio-section-header h1 {
    padding-top: 2em;
    letter-spacing: 10px; }
  .fp-port-img img {
    width: 100%;
    height: 330px;
    padding: 0px; }
  .portfolio-content p {
    font-size: 17px;
    line-height: 25px; }
  .flip-container,
  .front,
  .back {
    height: 23.5em; } }

.about-page-header {
  padding-bottom: 9px;
  border-bottom: 1px solid #eeeeee; }
  .about-page-header h1 {
    text-align: center;
    padding-top: 2em;
    margin-top: 0px;
    letter-spacing: 8px; }

.about-content {
  padding-top: 1em; }
  .about-content p {
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px; }

@media (min-width: 320px) {
  .about-page .col-md-6 {
    padding-left: 5px;
    padding-right: 5px; } }

.about-img img {
  padding-top: 25px;
  display: block;
  margin: auto; }

@media (min-width: 768px) {
  .about-content p {
    padding-left: 0px;
    padding-right: 0px; }
  .about-img img {
    width: unset; }
  .about-page .col-md-6 {
    padding-left: 5px;
    padding-right: 20px; } }

.contact-form {
  margin-top: 6em;
  text-align: center; }

.container {
  padding-left: 0px;
  padding-right: 0px; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

.portfolio-page-header h1 {
  text-align: center;
  padding-top: 2em;
  margin-bottom: 1em;
  letter-spacing: 8px; }

.portfolio-title h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  letter-spacing: 4px; }

.web-content {
  padding-bottom: 1em; }

.portfolio-img img {
  width: 100%; }

/*# sourceMappingURL=app.css.map */
