.about-page-header {
	padding-bottom: 9px;
	border-bottom: 1px solid $light-grey;
	h1 {
		text-align: center;
		padding-top: 2em;
		margin-top: 0px;
		letter-spacing: 8px;
	}
}

.about-content {
	padding-top: 1em;
	p {
		font-size: 17px;
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media ( min-width: 320px ) {
	.about-page {
		.col-md-6 {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
}

.about-img {
	img {
		padding-top: 25px;
		display: block;
		margin: auto;
	}
}

@media ( min-width: 768px ) {
	.about-content {
		p {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	.about-img {
		img {
			width: unset;
		}
	}
	.about-page {
		.col-md-6 {
			padding-left: 5px;
			padding-right: 20px;
		}
	}
}