#blog {
	background-color: $off-white;
}

.blog-page {
	padding: 20px;
}

.blog-pg-title {
	margin-top: 5em;
	text-align: center;
}

.blog-pg-title-content {
	h2 {
		padding-top: 30px;
	}
}

.blog-img {
	img {
		width: 50%;
		height: 50%;

		@media (max-width: 600px) {
			max-width: 100%;
			max-height: 210px;
		}
	}
}

.post-categories {
	li {
		padding-right: 5px;
	}
}

.ig-blog {
	img {
		max-width: 100%;
	}
}

.image-section {
	padding-bottom: 20px;
}

.image-gallery {
	ul {
		padding: 0px;
	}
}