.front-page-column-one, 
.front-page-column-two, 
.front-page-column-three {
	margin-top: 3em;
	margin-bottom: 3em;
	img {
		display: block;
		margin: 0 auto;
	}
	h2, p {
		text-align: center;
		color: #fff;
	}
}

.section-1 {
	background-color: #373D3F;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

