.front-page-column-one, 
.front-page-column-two, 
.front-page-column-three {
	margin-top: 1.5em;
	margin-bottom: 1.5em;

	@media ( min-width: 450px ) {
		margin-top: 3em;
		margin-bottom: 3em;
	}
	img {
		display: block;
		margin: 0 auto;
	}
	h2 {
		letter-spacing: 4px;
	}
	h2, p {
		text-align: center;
		color: $white;
	}
}

.section-1 {
	background-color: $dark-grey;
}


@media ( min-width: 1025px ) {
	.parallax { 
		min-height: 300px; 
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.portfolio-section-header {
	padding-top: 13em;

	@media ( max-width: 1024px ) {
		padding-top: 11em;
	}

	text-align: center;
	h1 {
		text-align: center;
		margin-top: 0px;
		margin-bottom: 0px;
		font-size: 50px;
		color: $white;
	}
}


@media ( min-width: 1025px ) {
	.section-1 {
		padding-top: 4em;
		padding-bottom: 4em;
	}
	.parallax {
		min-height: 400px;
	}
	.portfolio-section-header{
		h1 {
			letter-spacing: 10px;
		}
	}
	.fp-port-img {
		img {
			width: 100%;
			height: 330px;
			padding: 0px;
		}
	}
}
