.port-bkgd-img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.portfolio-page-header {
	h1 {
		text-align: center;
		padding-top: 2em;
		margin-bottom: 1em;
		letter-spacing: 8px;
	}
}

.portfolio-title {
	h2 {
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		letter-spacing: 4px;
	}
}

.web-content {
	padding-bottom: 1em;
}

.portfolio-img {
	img {
		width: 100%;
	}
}