.single-pg {
	margin-top: 3em;
}

.page-header {
	h1 {
		text-align: center;
	}
}

.sgl-pg-content {
	padding: 20px;

	p {
		font-size: 20px;
	}

	img {
		max-width: 100%;

		@media (max-width: 600px) {
			max-width: 100%;
			max-height: 250px; 
		}
	}
}