.footer {
	background-color: $footer-grey;
	img {
		padding-top: 1em;
		display: block;
		margin: 0 auto;
	}
}

.copyright {
	p {
	background-color: $charcoal;
	text-align: center;
	padding-top: 3em;
	padding-bottom: 3em;
	color: $black;
	font-size: 10px;
	margin: 0px;
	font-weight: bold;
	}
}
