.header-parallax { 
	min-height: 692px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.site-name {
	text-align: center;
	color: #fff;
	h1 {
		margin-top: 0px;
		padding-top: 4em;
		font-size: 4em;
	}
}