body {
	font-family: 'Oswald', 'Arsenal';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.col-md-12 {
	background-color: $off-white;
}

h1, h2, h3, h4 {
	font-family: oswald;
	margin-top: 0px;
}

p, a {
	font-family: arsenal;
}

ul {
	list-style-type: none;
}

@media ( max-width: 1024px ) {
	.bkgd-img {
		min-height: 500.08px;
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

.container {
	width: 100%;
}

.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}

.col-sm-12 {
	padding-right: 0px;
	padding-left: 0px;
}

#nav-change {
	min-height: 68em;
}

.border-bottom {
	padding: 0px;
}

.blog-navigation {
	ul {
		display: -webkit-inline-box;
		padding: 0px;
	}

	li {
		a {
			letter-spacing: 10px;
		}
	}
	span {
	padding-right: 5px;
	}
}








