.contact-form {
	max-width: 450px;
	padding-top: 0px;
	padding-bottom: 50px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
	position: relative;
	.error {
		color: red;
	}
}

div.wpcf7 {
	border-radius: 5px;
	background-color: $contact-form-grey;
	margin: 0;
	padding: 15px;
}